
background: transparent;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;

	.game-board {
		display: block;
		width: 100%;
		height: 100%;
	}


	&[data-theme="classic"] {
		background: #ccc;
		padding: 11px 7px 10px 8px;

		.game-board {
			border: 5px solid;
			border-color: #888 #eee #eee #888;

			> div {
				background: url(~/img/sprite.png) 0px 0px no-repeat;
				float: left;
				width: 26px;
				height: 26px;
		
				&.mines0	{ background-position: -26px 0px; }
				&.mines1	{ background-position: 0px -26px; }
				&.mines2	{ background-position: -26px -26px; }
				&.mines3	{ background-position: -52px -26px; }
				&.mines4	{ background-position: -78px -26px; }
				&.mines5	{ background-position: 0px -52px; }
				&.mines6	{ background-position: -26px -52px; }

				&.blank		{ background-position: 0px 0px; }
				&.flag		{ background-position: -52px -52px; }
				&.mine		{ background-position: -78px 0px; }
				&.qmark		{ background-position: -78px -52px; }
				&.red		{ background-position: -52px 0px; }
				&.cross		{ background-position: 0px -78px; }
			}
		}
	}

	&[data-theme="modern"] {
		background: #111;

		.game-board {
			display: block;
			position: relative;
			width: 100%;
			height: calc( 100% - 3px );
			padding: 9px 0 0 6px;
			background: #669;
			border-radius: 6px;
			box-shadow: 0px 4px 0px 0px #224;
			font-size: 0;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: -4px;
				border-radius: inherit;
				background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.35), transparent 170%);
				pointer-events: none;
			}

			&:after {
				content: "";
				background-image: linear-gradient(90deg, transparent, rgba(#fff,.5), transparent);
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				mix-blend-mode: soft-light;
				pointer-events: none;
			}

			> div {
				display: inline-block;
				background: #bbb;
				position: relative;
				width: 25px;
				height: 24px;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.75;
				text-align: center;
				text-shadow: 0 2px 1px rgba(#111,.2);
				border-radius: 4px;
				margin: -3px 1px 5px 0;
				box-shadow: inset 0 1px 0 rgba(#fff,.15),
							0px 3px 0px 0px #aaa,
							0 1px 3px rgba(#000,.35);

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: -3px;
					border-radius: inherit;
					background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.1), transparent);
					box-shadow: inset 0 4px 0 rgba(#000,.025);
					pointer-events: none;
				}

				&:after {
					content: "";
					background-image: linear-gradient(90deg, transparent, rgba(#fff,.5), transparent);
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 1px;
					mix-blend-mode: soft-light;
					pointer-events: none;
				}

				&.mines0,
				&.mines1,
				&.mines2,
				&.mines3,
				&.mines4,
				&.mines5,
				&.mines6,
				&.mine {
					background: rgba(#333,.1);
					position: relative;
					width: 24px;
					height: 23px;
					margin: 0 3px 3px -1px;
					box-shadow: inset 0 1px 2px rgba(#222,.15);

					&:before {
						bottom: -1px;
						box-shadow: none;
					}

					&:after {
						bottom: -1px;
						background-image: linear-gradient(90deg, transparent, rgba(#fff,.1), transparent);
					}
				}

				&.mines1:before {
					content: "1";
					color: #afbddb;
				}

				&.mines2:before {
					content: "2";
					color: #5c5;
				}

				&.mines3:before {
					content: "3";
					color: #f34646;
					text-shadow: 0 2px 2px rgba(#000,.2);
				}

				&.mines4:before {
					content: "4";
					color: #c42cc3;
					text-shadow: 0 2px 2px rgba(#000,.2);
				}

				&.mines5:before {
					content: "5";
					color: #b6540c;
					text-shadow: 0 2px 2px rgba(#000,.2);
				}

				&.mines6:before {
					content: "6";
					color: #5fd9e7;
					text-shadow: 0 2px 2px rgba(#000,.2);
				}

				&.flag {
					background-image: url(~/icons/icon-flag.png);
					background-position: 50% 50%;
					background-size: 19px 19px;
					background-repeat: no-repeat;
				}

				&.qmark {
					background-image: url(~/icons/icon-qmark.png);
					background-position: 50% 50%;
					background-size: 19px 19px;
					background-repeat: no-repeat;
				}

				&.cross {
					background-image: url(~/icons/icon-cross.png);
					background-position: 50% 50%;
					background-size: 19px 19px;
					background-repeat: no-repeat;
				}

				&.mine {
					background-image: url(~/icons/icon-mine.png);
					background-position: 50% 50%;
					background-size: 19px 19px;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
